@font-face
  font-family: 'Exo'
  src: url('fonts/Exo/Exo2-Regular.ttf') format('truetype')
  font-weight: normal
  font-style: normal

@font-face 
  font-family: 'Exo 2'
  src: url('fonts/Exo/Exo2-BlackItalic.ttf') format('truetype')
  font-weight: 900
  font-style: italic

@font-face 
  font-family: 'Exo 2'
  src: url('fonts/Exo/Exo2-ThinItalic.ttf') format('truetype')
  font-weight: 100
  font-style: italic

@font-face 
  font-family: 'Exo 2'
  src: url('fonts/Exo/Exo2-Bold.ttf') format('truetype')
  font-weight: bold
  font-style: normal

@font-face 
  font-family: 'Exo 2'
  src: url('fonts/Exo/Exo2-LightItalic.ttf') format('truetype')
  font-weight: 300
  font-style: italic

@font-face 
  font-family: 'Exo 2'
  src: url('fonts/Exo/Exo2-MediumItalic.ttf') format('truetype')
  font-weight: 500
  font-style: italic

@font-face 
  font-family: 'Exo 2 Semi'
  src: url('fonts/Exo/Exo2-SemiBoldItalic.ttf') format('truetype')
  font-weight: 600
  font-style: italic

@font-face 
  font-family: 'Exo 2 Extra'
  src: url('fonts/Exo/Exo2-ExtraBold.ttf') format('truetype')
  font-weight: 800
  font-style: normal

@font-face 
  font-family: 'Exo 2 Extra'
  src: url('fonts/Exo/Exo2-ExtraLightItalic.ttf') format('truetype')
  font-weight: 200
  font-style: italic

@font-face 
  font-family: 'Exo 2 Semi'
  src: url('fonts/Exo/Exo2-SemiBold.ttf') format('truetype')
  font-weight: 600
  font-style: normal

@font-face 
  font-family: 'Exo 2'
  src: url('fonts/Exo/Exo2-Medium.ttf') format('truetype')
  font-weight: 500
  font-style: normal

@font-face 
  font-family: 'Exo 2 Extra'
  src: url('fonts/Exo/Exo2-ExtraLight.ttf') format('truetype')
  font-weight: 200
  font-style: normal

@font-face 
  font-family: 'Exo 2'
  src: url('fonts/Exo/Exo2-Light.ttf') format('truetype')
  font-weight: 300
  font-style: normal

@font-face 
  font-family: 'Exo 2'
  src: url('fonts/Exo/Exo2-BoldItalic.ttf') format('truetype')
  font-weight: bold
  font-style: italic

@font-face 
  font-family: 'Exo 2 Extra'
  src: url('fonts/Exo/Exo2-ExtraBoldItalic.ttf') format('truetype')
  font-weight: 800
  font-style: italic

@font-face 
  font-family: 'Exo 2'
  src: url('fonts/Exo/Exo2-Italic.ttf') format('truetype')
  font-weight: normal
  font-style: italic

@font-face 
  font-family: 'Exo 2'
  src: url('fonts/Exo/Exo2-Thin.ttf') format('truetype')
  font-weight: 100
  font-style: normal

@font-face 
  font-family: 'Exo 2'
  src: url('fonts/Exo/Exo2-Black.ttf') format('truetype')
  font-weight: 900
  font-style: normal


  
  
  
  
  
  
  
  
  
  
  
@font-face
  font-family: 'Rubik'
  src: url('fonts/Rubik/Rubik-BoldItalic.ttf') format('truetype')
  font-weight: bold
  font-style: italic


@font-face 
  font-family: 'Rubik'
  src: url('fonts/Rubik/Rubik-LightItalic.ttf') format('truetype')
  font-weight: 300
  font-style: italic


@font-face 
  font-family: 'Rubik'
  src: url('fonts/Rubik/Rubik-Regular.ttf') format('truetype')
  font-weight: normal
  font-style: normal


@font-face 
  font-family: 'Rubik'
  src: url('fonts/Rubik/Rubik-Medium.ttf') format('truetype')
  font-weight: 500
  font-style: normal


@font-face 
  font-family: 'Rubik'
  src: url('fonts/Rubik/Rubik-MediumItalic.ttf') format('truetype')
  font-weight: 500
  font-style: italic


@font-face 
  font-family: 'Rubik'
  src: url('fonts/Rubik/Rubik-Italic.ttf') format('truetype')
  font-weight: normal
  font-style: italic


@font-face 
  font-family: 'Rubik'
  src: url('fonts/Rubik/Rubik-BlackItalic.ttf') format('truetype')
  font-weight: 900
  font-style: italic


@font-face 
  font-family: 'Rubik'
  src: url('fonts/Rubik/Rubik-Black.ttf') format('truetype')
  font-weight: 900
  font-style: normal


@font-face 
  font-family: 'Rubik'
  src: url('fonts/Rubik/Rubik-Light.ttf') format('truetype')
  font-weight: 300
  font-style: normal


@font-face 
  font-family: 'Rubik'
  src: url('fonts/Rubik/Rubik-Bold.ttf') format('truetype')
  font-weight: bold
  font-style: normal

