/***	Универсальные ***/
.fp_UniOne:not(:first-child):after
	content: '';
	position: absolute;
	top: -36px;
	left: 5px;
	width: 2px;
	height: 45px;
	background-color: #C9DAEF;
.fp_UniTwo:not(:first-child):after
	content: '';
	position: absolute;
	top: -36px;
	left: 5px;
	width: 2px;
	height: 45px;
	background-color: #AEC0C8;
.fp_UniThree:not(:first-child):after
	content: '';
	position: absolute;
	top: -36px;
	left: 5px;
	width: 2px;
	height: 45px;
	background-color: #B0C9DC;
.fp_UniFour:not(:first-child):after
	content: '';
	position: absolute;
	top: -36px;
	left: 5px;
	width: 2px;
	height: 45px;
	background-color: #C49CA9
.fp_UniEight:not(:first-child):after
	content: '';
	position: absolute;
	top: -36px;
	left: 5px;
	width: 2px;
	height: 45px;
	background-color:  #E0E0E0



.fp_LechOne:not(:first-child):after
	content: '';
	position: absolute;
	top: -36px;
	left: 5px;
	width: 2px;
	height: 45px;
	background-color: #E8ABAB;
.fp_LechTwo:not(:first-child):after
	content: '';
	position: absolute;
	top: -36px;
	left: 5px;
	width: 2px;
	height: 45px;
	background-color: #E8ABAB;
.fp_LechThree:not(:first-child):after
	content: '';
	position: absolute;
	top: -36px;
	left: 5px;
	width: 2px;
	height: 45px;
	background-color: #EBD4A9
.fp_LechFour:not(:first-child):after
	content: '';
	position: absolute;
	top: -36px;
	left: 5px;
	width: 2px;
	height: 45px;
	background-color: #CFC8C1
.fp_LechFive:not(:first-child):after
	content: '';
	position: absolute;
	top: -36px;
	left: 5px;
	width: 2px;
	height: 45px;
	background-color: #EECFC2;
.fp_LechSix:not(:first-child):after
	content: '';
	position: absolute;
	top: -36px;
	left: 5px;
	width: 2px;
	height: 45px;
	background-color: #F8E4D0
.fp_LechSeven:not(:first-child):after
	content: '';
	position: absolute;
	top: -36px;
	left: 5px;
	width: 2px;
	height: 45px;
	background-color: #E8ABAB;
.fp_LechEight:not(:first-child):after
	content: '';
	position: absolute;
	top: -36px;
	left: 5px;
	width: 2px;
	height: 45px;
	background-color: #E8ABAB;
.fp_LechNine:not(:first-child):after
	content: '';
	position: absolute;
	top: -36px;
	left: 5px;
	width: 2px;
	height: 45px;
	background-color: #E8ABAB;
.fp_LechTen:not(:first-child):after
	content: '';
	position: absolute;
	top: -36px;
	left: 5px;
	width: 2px;
	height: 45px;
	background-color: #E8ABAB;


/***	профилактики ***/
.fp_ProfOne:not(:first-child):after
	content: '';
	position: absolute;
	top: -36px;
	left: 5px;
	width: 2px;
	height: 45px;
	background-color: #BDD7C2;
.fp_ProfTwo:not(:first-child):after
	content: '';
	position: absolute;
	top: -36px;
	left: 5px;
	width: 2px;
	height: 45px;
	background-color: #AEC0C8;
.fp_ProfThree:not(:first-child):after
	content: '';
	position: absolute;
	top: -36px;
	left: 5px;
	width: 2px;
	height: 45px;
	background-color: #C9C9C9;
.fp_ProfFour:not(:first-child):after
	content: '';
	position: absolute;
	top: -36px;
	left: 5px;
	width: 2px;
	height: 45px;
	background-color: #D7B19C;
.fp_ProfFive:not(:first-child):after
	content: '';
	position: absolute;
	top: -36px;
	left: 5px;
	width: 2px;
	height: 45px;
	background-color:  #9FD4D1;
.fp_ProfSix:not(:first-child):after
	content: '';
	position: absolute;
	top: -36px;
	left: 5px;
	width: 2px;
	height: 45px;
	background-color:  #A4ECFC;
.fp_ProfSeven:not(:first-child):after
	content: '';
	position: absolute;
	top: -36px;
	left: 5px;
	width: 2px;
	height: 45px;
	background-color:  #CBC0E3;
.fp_ProfEight:not(:first-child):after
	content: '';
	position: absolute;
	top: -36px;
	left: 5px;
	width: 2px;
	height: 45px;
	background-color:  #F1A2C1     ;
.fp_ProfNine:not(:first-child):after
	content: '';
	position: absolute;
	top: -36px;
	left: 5px;
	width: 2px;
	height: 45px;
	background-color:  #E0E0E0

