.fp_UniOne:not(:first-child):after {
	content: '';
	position: absolute;
	top: -36px;
	left: 5px;
	width: 2px;
	height: 45px;
	background-color: #c9daef;
}
.fp_UniTwo:not(:first-child):after {
	content: '';
	position: absolute;
	top: -36px;
	left: 5px;
	width: 2px;
	height: 45px;
	background-color: #aec0c8;
}