.MainMenu
	position fixed
	top 25px
	z-index: 9000;
	width: 100%;
	display: flex;
	justify-content: center;
	&-Link
		font-family: Rubik;
		font-size: 18px;
		letter-spacing: 0.05em;
		text-transform: uppercase;
		text-decoration none
		&:not(:last-child)
			margin-right 100px
		&_Active
			border-bottom-style: solid
			border-bottom-width 2px
		&_UniFirst:hover
			color: #7599BA !important;
		&_uniTwo:hover
			color: #8CA4AE !important;
@media (max-width: 1024px)
	.MainMenu
		top: 50px;

