.PromoProduct
	width 479px
	text-align center
	margin-left 286px
	margin-bottom: 250px;
	&-Header
		font-family: Rubik;
		font-weight: 500;
		font-size: 16px;
		text-align: center;
		letter-spacing: 0.05em;
		color: #4F4F4F;
		margin-bottom 39px
		position relative
		&:after
			content ''
			position absolute
			bottom -18px
			width 120px
			height 1
			background-color #bdbdbd
			left calc(50% - 60px)
	&-Model
		font-family: Rubik;
		font-weight: 500;
		font-size: 16px;
		text-align: center;
		letter-spacing: 0.1em;
		color: #D64B4B;
	&-Text
		font-family: Roboto;
		line-height: 18px;
		font-size: 14px;
		text-align: center;
		color: #828282;
		&:not(:last-child)
			margin-bottom 25px
	&_7f3l
		margin-left: 190px;
		margin-bottom: 100px;
	&_7f5l
		margin-left: 190px;
		margin-bottom: 50px;