.Social
	&-Link
		width 19px
		height 19px
		background-color #C9C9C9
		&:not(:last-child)
			margin-right 6px
		&_UniOne
			background-color: #C9DAEF
			&:hover
				background-color: #7599BA
		&_UniTwo
			background-color: #AEC0C8
			&:hover
				background-color: #8CA4AE;
		&_UniThree
			background-color: #BFD5E5
			&:hover
				background-color: #76A5C7
		&_UniFour
			background-color: #C49CA9
			&:hover
				background-color: #B08A97
		&_UniEight
			background-color: #E0E0E0
			&:hover
				background-color: #4F4F4F

		&_ProfOne
			background-color: #BDD7C2  
			&:hover
				background-color: #9CC3A4;	
		&_ProfTwo
			background-color: #AEC0C8 
			&:hover
				background-color: #8CA4AE;	
		&_ProfThree
			background-color: #C9C9C9 
			&:hover
				background-color: #828282;	
		&_ProfFour
			background-color: #D7B19C 
			&:hover
				background-color: #BB9B8B;	
		&_ProfFive
			background-color: #9FD4D1
			&:hover
				background-color: #70B2AE;	
		&_ProfSix
			background-color: #A4ECFC
			&:hover
				background-color: #3FB1C9;	
		&_ProfSeven 
			background-color: #CBC0E3
			&:hover
				background-color: #8E92C6;	
		&_ProfEight
			background-color: #F1A2C1
			&:hover
				background-color: #D36E96;	
		&_ProfNine
			background-color: #E0E0E0
			&:hover
				background-color: #4F4F4F;	
				
		&_LechOne
			background-color: #E8ABAB
			&:hover
				background-color: #E68E8E
		&_LechTwo
			background-color: #E8ABAB 
			&:hover
				background-color: #E68E8E;	
		&_LechThree
			background-color: #EBD4A9
			&:hover
				background-color: #CEB27D
		&_LechFour
			background-color: #CFC8C1
			&:hover
				background-color: #B7A694
		&_LechFive
			background-color: #EECFC2
			&:hover
				background-color: #EBB6A1
		&_LechSix
			background-color: #F8E4D0
			&:hover
				background-color: #DCB68F
		&_LechSeven
			background-color: #E8ABAB 
			&:hover
				background-color: #E68E8E;	
		&_LechEight
			background-color: #E8ABAB 
			&:hover
				background-color: #E68E8E;	
		&_LechNine
			background-color: #E8ABAB 
			&:hover
				background-color: #E68E8E;	
		&_LechTen
			background-color: #E8ABAB 
			&:hover
				background-color: #E68E8E;	
			