.Social
	&-Link
		width 19px
		height 19px
		background-color #C9C9C9
		&:not(:last-child)
			margin-right 6px
		&_UniOne
			background-color: #c9daef
			&:hover
				background-color: #7599BA;
		&_UniTwo
			background-color: #AEC0C8
			&:hover
				background-color: #8CA4AE;
			