.Univarsalnie
	background-color chocolate
	width 100vw
	height 100vh
	&-One
		background-image url('images/UniBg.png')
		background-position bottom center
		background-size cover
		background-repeat no-repeat
		display flex
		align-items center
		justify-content center
	&-Two
		background-image url('images/Princip.png')
		background-position bottom center
		background-size cover
		background-repeat no-repeat
		display flex
		align-items center
		justify-content center
	&-Three
		background-image url('images/Uni8f1.png')
		background-position bottom center
		background-size cover
		background-repeat no-repeat
		display flex
		align-items center
		justify-content center
	&-Thour
		background-image url('images/Uni7f3l.png')
		background-position bottom center
		background-size cover
		background-repeat no-repeat
		display flex
		align-items center
		justify-content center
	&-Five
		background-image url('images/Uni7f5l.png')
		background-position bottom center
		background-size cover
		background-repeat no-repeat
		display flex
		align-items center
		justify-content center
		
	&-Header
		text-align center
		font-family: Rubik;
		font-weight: 500;
		font-size: 30px;
		letter-spacing: 0.2em;
		text-transform: uppercase;
		color: #99BCDC;
		padding 33px 97px
		border 6px solid #B8DCFD
		width: 30%;
		margin: 0 auto 36px auto;
		
	&-SubHead
		font-family: Rubik;
		font-weight: 500;
		line-height: 36px;
		font-size: 28px;
		text-align: center;
		letter-spacing: 0.05em;
		color: #8CB2D5;
		text-align center
		position relative
		margin-bottom 40px
		&:after
			content ''
			position absolute
			width 160px
			bottom -20px
			left calc(50% - 80px)
			height 2px
			background-color #CDDFF3
	&-Text
		font-family: Roboto;
		line-height: 21px;
		font-size: 16px;
		text-align: center;
		color: #7599BA;
		width: 931px;
		margin 0 auto
		&:not(:last-child)
			margin-bottom 20px