@require 'styl/index'
@require 'styl/MainMenu'

@require '../libs/fullpage.js/dist/jquery.fullpage'
@require 'styl/fonts'
@require 'styl/button'
@require 'styl/social'
@require 'styl/List'
@require 'styl/fp'
@require 'styl/PromoProduct'
@require 'styl/Princip'
@require '../libs/slick-carousel/slick/slick'
*
	margin 0
	padding 0
	box-sizing border-box
