.Lechenie
	&_One
		background-image  url('../images/Lech/LechAll.png'), url('../images/Lech/LechText.svg'), url('../images/Lech/LechBg.png')
		background-position center 130px,center 90px,center bottom
		background-size 40%, 40%,  cover
		background-repeat no-repeat, no-repeat, no-repeat
	&_Two
		background-image url('../images/Princip/PrincipBg.png')
		background-position bottom center
		background-size cover
		background-repeat no-repeat
	&_Three
		background-image url('../images/Lech/LechThree2.png'), url('../images/Lech/LechThree1.png')
		background-position bottom center, center center
		background-size cover, cover
		background-repeat no-repeat, no-repeat
		&-Content
			width 541px
			position absolute
			top 300px
			left 250px
		&-ProductHead
			color: #A5936E
		&-ProductModel
			color: #D64B4B
		&-ProductText
			color: #BDA48A
	&_Four
		background-image url('../images/Lech/LechFour2.png'), url('../images/Lech/LechFour1.png')
		background-position bottom center, center center
		background-size cover, cover
		background-repeat no-repeat, no-repeat
		&-Content
			width 551px
			position absolute
			top 360px
			left 200px
		&-ProductHead
			color: #A2998E
		&-ProductModel
			color: #D64B4B
		&-ProductText
			color: #BCB3AA
	&_Five
		background-image url('../images/Lech/LechFive2.png'), url('../images/Lech/LechFive1.png')
		background-position bottom center, center center
		background-size cover, cover
		background-repeat no-repeat, no-repeat
		&-Content
			width: 510px;
			position: absolute;
			top: 200px;
			left: 310px;
		&-ProductHead
			color: #BF856D
		&-ProductModel
			color: #D64B4B
		&-ProductText
			color:#D5AE9A
	&_Six
		background-image url('../images/Lech/LechSix2.png'), url('../images/Lech/LechSix1.png')
		background-position bottom center, center center
		background-size cover, cover
		background-repeat no-repeat, no-repeat
		&-Content
			width: 540px;
			position: absolute;
			top: 220px;
			left: 340px;
		&-ProductHead
			color: #D4A06B
		&-ProductModel
			color: #D64B4B
		&-ProductText
			color: #DAB48E
	&_Seven
		background-image url('../images/Lech/LechSeven.png')
		background-position bottom center
		background-size cover
		background-repeat no-repeat
		&-Content
			width: 542px;
			position: absolute;
			top: 130px;
			left: calc(50% - 271px);
		&-ProductHead
			color: #46A9BE
		&-ProductModel
			color: #D64B4B
		&-ProductText
			color: #66C3D7
	&_Eight
		background-image url('../images/Prof/Profilactica_SevenBg2.png'), url('../images/Prof/Profilactica_SevenBg1.png')
		background-position bottom center, bottom center
		background-size cover, cover
		background-repeat no-repeat, no-repeat
		&-Content
			width 492px
			position absolute
			top 300px
			left 200px
		&-ProductHead
			color: #7376A4
		&-ProductModel
			color: #D64B4B
		&-ProductText
			color: #A1A5D1
	&_Nine
		background-image url('../images/Lech/LechNine.png')
		background-position bottom center
		background-size cover
		background-repeat no-repeat
		&-Content
			width: 552px;
			position: absolute;
			top: 130px;
			left: calc(50% - 276px);
		&-ProductHead
			color: #D36E96
		&-ProductModel
			color: #D64B4B
		&-ProductText
			color: #E6A4BE
	&_Ten
		background-image url('../images/Lech/LechTen.png')
		background-position bottom center
		background-size cover
		background-repeat no-repeat
		&-ProductHead
			font-family: Rubik;
			font-weight: 500;
			font-size: 24px;
			letter-spacing: 0.1em;
			text-transform: uppercase;
			color: #4F4F4F;
			margin-top: 80px;
		&-ProductModel
			color #D64B4B
	&-Header
		display inline-block
		width auto
		border-style: solid;
		border-width: 6px;
		border-image: url('../images/Lech/LechBorder.png') 6 fill repeat;
		padding 26px 35px
		margin-top: 300px;
		margin-bottom: 25px;
	&-HeaderText
		font-family: Rubik;
		font-weight: 500;
		font-size: 28px;
		letter-spacing: 0.1em;
		color: #E4A5A5;
	&-Desc
		font-family: Roboto;
		line-height: 21px;
		font-size: 16px;
		text-align: center;
		color:#e29292;
		max-width 1049px
		margin 0 auto
		&:not(:last-child)
			margin-bottom 25px
	&-MainLink
		color #EECACA
		&_One:hover
			color #E68E8E !important
			


@media (max-width: 1680px)
	.Lechenie
		&_Thre
			background-position: -140px center,center center;
			&-Content
				top: 360px;
				left: 200px;
		&_Four
			background-position: -150px center,center center;
		&_Five
			background-position: -150px center,center center;
		&_Six
			background-position: -200px center,center center;
		&_Eight
			background-position: -150px center,bottom center;
@media (max-width: 1440px)
	.Lechenie
		&_Three
			background-position: -150px center,center center;
			background-size: 130%,cover;
			&-Content
				left: 80px;
		&_Four
			&-Content
				left 80px
		&_Five
			&-Content
				top: 200px;
				left: 110px;
		&_Six
			&-Content
				top: 250px;
				left: 100px;
		&_Eight
			background-position: -150px -40px,bottom center;
			&-Content
				top: 250px;
				left: 80px;
@media (max-width: 1280px)
	.Lechenie
		&_One
			background-size: 60%,80%,cover;
		&_Three
			background-position: -30px center,center center;
			background-size: 120%,cover;
		&_Four
			background-size: 150%, cover;
			background-position: -170px center, center center;
		&_Five
			background-position: -450px center,center center;
			&-Content
				top: 130px;
				left: 110px;
		&_Six
			background-position: -300px center,center center;
			background-size: 150%, cover;
		&_Eight
			background-size: 150%, cover;
			background-position: -150px 0px,bottom center;
@media (max-width: 1024px)
	.Lechenie
		&_Three
			background-position: -30px 200px,center center;
			&-Content
				top: 100px;
		&_Four
			background-size: 130%,cover;
			background-position: -30px -50px,center center;
			&-Content
				top: 400px;
		&_Five
			background-size: 130%, cover;
			background-position: -60px 140px,center center;
		&_Six
			background-position: -100px 130px,center center;
			background-size: 130%,cover;
			&-Content
				top: 100px;
				left: 50px;
		&_Eight
			background-size: 130%,cover;
			background-position: 40px 80px,bottom center;
			&-Content
				top: 150px;
				left: 40px;