.Lechenie
	&_One
		background-image  url('images/Lech/LechAll.png'), url('images/Lech/LechText.svg'), url('images/Lech/LechBg.png')
		background-position center 130px,center 90px,center bottom
		background-size 40%, 40%,  cover
		background-repeat no-repeat, no-repeat, no-repeat
		display flex
		align-items center
		justify-content center
	/*&-Text
		display block
		margin 0 auto
		position relative
		top -20px
		width 40%
	&-All
		display block
		margin 0 auto
		position relative
		top: -85px;
		width 40%*/
	&-Header
		display inline-block
		width auto
		border-style: solid;
		border-width: 6px;
		border-image: url('images/Lech/LechBorder.png') 6 fill repeat;
		padding 26px 35px
		margin-top: 300px;
		margin-bottom: 25px;
	&-HeaderText
		font-family: Rubik;
		font-weight: 500;
		font-size: 28px;
		letter-spacing: 0.1em;
		color: #E4A5A5;
	//&-Description
	&-Desc
		font-family: Roboto;
		line-height: 21px;
		font-size: 16px;
		text-align: center;
		color:#e29292;
		max-width 1049px
		margin 0 auto
		&:not(:last-child)
			margin-bottom 25px
	&-MainLink
		color #EECACA
		&_One:hover
			color #E68E8E !important