@require '../libs/fullpage.js/dist/jquery.fullpage'
@require 'styl/fonts'
@require 'styl/button'
@require 'styl/index'
@require 'styl/social'
@require 'styl/fp'
@require 'styl/List'
@require 'styl/MainMenu'
@require 'styl/PromoProduct'

@require 'styl/Lechenie'
@require 'styl/Profilactica'
@require 'styl/Universlanie'

*
	margin 0
	padding 0
	box-sizing border-box
