head
	meta(charset="UTF-8")
	title Рециркуляторы для профилактики
	link(rel="stylesheet" type="text/css" href="Preload.css")

	
	body
		.Preload
			h1 Загрузка

		nav.MainMenu
			a.MainMenu-Link.MainMenu-Link_Active.Profilactica-MainLink.Profilactica-MainLink_Active(href="Profilactica.html" data-id="Prof") Для профилактики
			a.MainMenu-Link.MainMenu-Link_NotActive.Profilactica-MainLink.Profilactica-MainLink_NotActive(href="Universal.html" data-id="Uni") Универсальные
			a.MainMenu-Link.MainMenu-Link_NotActive.Profilactica-MainLink.Profilactica-MainLink_NotActive(href="Lechenie.html" data-id="Lech") Для лечения
			
		.IndexPages-Social
			a.Social-Link.Profilactica-SocialLink(href="#")
				img.Social-Images(src="images/Social/vk.png" alt="Кнопка социальной сети")
			a.Social-Link.Profilactica-SocialLink(href="#")
				img.Social-Images(src="images/Social/tv.png" alt="Кнопка социальной сети")
			a.Social-Link.Profilactica-SocialLink(href="#")
				img.Social-Images(src="images/Social/tv.png" alt="Кнопка социальной сети")
			a.Social-Link.Profilactica-SocialLink(href="#")
				img.Social-Images(src="images/Social/you.png" alt="Кнопка социальной сети")
			a.Social-Link.Profilactica-SocialLink(href="#")
				img.Social-Images(src="images/Social/fac.png" alt="Кнопка социальной сети")
			a.Social-Link.Profilactica-SocialLink(href="#")
				img.Social-Images(src="images/Social/pt.png" alt="Кнопка социальной сети")
			a.Social-Link.Profilactica-SocialLink(href="#")
				img.Social-Images(src="images/Social/goo.png" alt="Кнопка социальной сети")
			a.Social-Link.Profilactica-SocialLink(href="#")
				img.Social-Images(src="images/Social/in.png" alt="Кнопка социальной сети")
			a.Social-Link.Profilactica-SocialLink(href="#")
				img.Social-Images(src="images/Social/pin.png" alt="Кнопка социальной сети")

		.Profilactica#ProfFullPage
			.section.Profilactica_One
				img.Profilactica-Text(src="images/Prof/Profilactica_Text.svg")
				img.Profilactica-All(src="images/Prof/Profilactica_All.png")
				.Profilactica-Header
					h3.Profilactica-HeaderText Вдохните полной грудью в самом сердце мегаполиса
				.Profilactica-Description
					p.Profilactica-Desc 
						|Когда пыль и смог заставляют задыхаться в будничной городской суете, а на прогулки на свежем воздухе не хватает времени – на помощь придет функциональный и стильный концентратор кислорода.
					p.Profilactica-Desc 
						|Компактные модели для дома производят до 1 л кислородно-воздушной смеси в минуту. За счет стильного дизайна устройство идеально впишется в интерьер и станет незаменимым источником кислорода в Вашем доме.

			.section.Profilactica_Two
				.FullSlide
					.FullSlide-Header
						h3.FullSlide-HeaderText Как работает кислородный концентратор? 
							br
							span.FullSlide-HeaderTextBold Безопасно!
					p.FullSlide-HeadTwo В конструкции устройства нет никаких баллонов с давлением, что минимизирует риск возгорания. Вместо них в концентраторах используется цеолит.
					img.FullSlide-Image(src="images/Princip/PrincipOne.svg")
					p.FullSlide-Text Поступающий в устройство воздух проходит через специальные фильтры и с помощью работы компрессора попадает прямиком в две цеолитовые колонки поочередно.
				.FullSlide
					.FullSlide-Header
						h3.FullSlide-HeaderText Как работает кислородный концентратор? 
							br
							span.FullSlide-HeaderTextBold Безопасно!
					p.FullSlide-HeadTwo В конструкции устройства нет никаких баллонов с давлением, что минимизирует риск возгорания. Вместо них в концентраторах используется цеолит.
					img.FullSlide-Image(src="images/Princip/PrincipTwo.svg")
					p.FullSlide-Text При поступлении воздуха в цеолитовую колонку №1, азот и другие газы абсорбируются, а кислород через увлажнитель отправляется наружу. 
					p.FullSlide-Text Небольшая часть кислорода совместно с абсорбированными газами отправляется в цеолитовую колонку №2, а уже оттуда – выходит через специальный клапан. 
				.FullSlide
					.FullSlide-Header
						h3.FullSlide-HeaderText Как работает кислородный концентратор? 
							br
							span.FullSlide-HeaderTextBold Безопасно!
					p.FullSlide-HeadTwo В конструкции устройства нет никаких баллонов с давлением, что минимизирует риск возгорания. Вместо них в концентраторах используется цеолит.
					img.FullSlide-Image(src="images/Princip/PrincipThree.svg")
					p.FullSlide-Text Далее процесс зеркально дублируется: 
					p.FullSlide-Text В цеолитовую колонку №2 поступает воздух, откуда очищенная кислородно-воздушная смесь попадает через увлажнитель к пользователю, а часть кислорода и другие газы оказываются в колонке №1 и также выходят через соответствующий клапан.
			.section.Profilactica_Three
			.section.Profilactica_Four
			.section.Profilactica_Five
			.section.Profilactica_Six
			.section.Profilactica_Seven

		
		script(src='main.js')
		link(rel="stylesheet" type="text/css" href="index.css")
		link(rel="stylesheet" type="text/css" href="Profi.css")

