.Profilactica
	 &_One
		background-image url('images/Prof/Profilactica_OneBg.png')
		background-position bottom center
		background-size cover
		background-repeat no-repeat
		display flex
		align-items center
		justify-content center
	&_Two
		background-image url('images/Princip/PrincipBg.png')
		background-position bottom center
		background-size cover
		background-repeat no-repeat
	&-Text
		display block
		margin 0 auto
		position relative
		top -20px
		width 70%
	&-All
		display block
		margin 0 auto
		position relative
		top: -85px;
		width 30%
	&-Header
		display inline-block
		width auto
		border-style: solid;
		border-width: 6px;
		border-image: url('images/Prof/ProfBorder.png') 6 fill repeat;
		padding 26px 42px
		position: relative;
		top: -100px;
	&-HeaderText
		font-family: Rubik;
		font-weight: 500;
		font-size: 28px;
		letter-spacing: 0.1em;
		color: #D3B7A9;
	&-Description
		position relative
		top -80px
	&-Desc
		font-family: Roboto;
		line-height: 21px;
		font-size: 16px;
		text-align: center;
		color: #B89F93;
		max-width 982px
		margin 0 auto
		&:not(:last-child)
			margin-bottom 25px
	&-MainLink
		color #EECFC2
		&_One:hover
			color #C5AA9F !important