.Univarsalnie
	width 100vw
	height 100vh
	&_One
		background-image  url('images/Uni/UniAll.png'), url('images/Uni/UniText.svg'), url('images/Uni/UniBg.png')
		background-position center 130px,center 90px,center bottom
		background-size 25%, 40%,  cover
		background-repeat no-repeat, no-repeat, no-repeat
		&-Header
			margin-top 700px
	&_Two
		background-image url('images/Princip.png')
		background-position bottom center
		background-size cover
		background-repeat no-repeat
	&_Three
		background-image url('images/Uni/UniThree.png')
		background-position bottom center
		background-size cover
		background-repeat no-repeat
		&-Content
			width 491px
			position absolute
			top 300px
			left 200px
		&-ProductHead
			color: #446B7C
		&-ProductModel
			color: #D64B4B
		&-ProductText
			color: #8FABC1
	&_Four
		background-image url('images/Uni/UniFor.png')
		background-position bottom center
		background-size cover
		background-repeat no-repeat
		&-Content
			width 491px
			position absolute
			top 300px
			left 200px
		&-ProductHead
			color: #91717C
		&-ProductModel
			color: #D64B4B
		&-ProductText
			color: #AC8A96
	&_Five
		background-image url('images/Prof/Profilactica_SixBg.png')
		background-position bottom center
		background-size cover
		background-repeat no-repeat
		&-Content
			width 492px
			position absolute
			top 100px
			left calc(50% - 246px)
		&-ProductHead
			color: #46A9BE
		&-ProductModel
			color: #D64B4B
		&-ProductText
			color: #66C3D7
	&_Six
		background-image url('images/Prof/Profilactica_SevenBg.png')
		background-position bottom center
		background-size cover
		background-repeat no-repeat
		&-Content
			width 491px
			position absolute
			top 300px
			left 200px
		&-ProductHead
			color: #7376A4
		&-ProductModel
			color: #D64B4B
		&-ProductText
			color: #A1A5D1
	&_Seven
		background-image url('images/Prof/Profilactica_EightBg.png')
		background-position bottom center
		background-size cover
		background-repeat no-repeat
		&-Content
			width 492px
			position absolute
			top 100px
			left calc(50% - 246px)
		&-ProductHead
			color: #D36E96
		&-ProductModel
			color: #D64B4B
		&-ProductText
			color: #A1A5D1
	&_Eight
		&-ProductHead
			font-family: Rubik;
			font-weight: 500;
			font-size: 24px;
			letter-spacing: 0.1em;
			text-transform: uppercase;
			color: #4F4F4F;
			margin-top: 80px;
		&-ProductModel
			color #D64B4B
	&-Header
		display inline-block
		width auto
		border-style: solid;
		border-width: 6px;
		border-image: url('images/Uni/UniBorder.png') 6 fill repeat;
		padding 26px 40px
		position: relative;
		top: -100px;
	&-HeaderText
		font-family: Rubik;
		font-weight: 500;
		font-size: 28px;
		letter-spacing: 0.1em;
		color: #8CB2D5;
	&-Description
		position relative
		top -80px
	&-Desc
		font-family: Roboto;
		line-height: 21px;
		font-size: 16px;
		text-align: center;
		color: #7599BA;
		max-width 1130px
		margin 0 auto
		&:not(:last-child)
			margin-bottom 25px
	&-MainLink
		color #EECFC2
		&:hover
			color #C5AA9F
		&_Active
			border-bottom-color #C5AA9F
			color #C5AA9F