head
	meta(charset="UTF-8")
	title Рециркуляторы универсальные
	link(rel="stylesheet" type="text/css" href="Preload.css")
	style
	body
		.Preload
			h1 Загрузка
			
		nav.MainMenu
			a.MainMenu-Link.MainMenu-Link_NotActive(href="Profilactica.html" data-id="Prof") Для профилактики
			a.MainMenu-Link.MainMenu-Link_Active(href="Universal.html" data-id="Uni") Универсальные
			a.MainMenu-Link.MainMenu-Link_NotActive(href="Lechenie.html" data-id="Lech") Для лечения
			
		.IndexPages-Social
			a.Social-Link.Univarsalnie-SocialLink(href="#")
				img.Social-Images(src="images/Social/vk.png" alt="Кнопка социальной сети")
			a.Social-Link.Univarsalnie-SocialLink(href="#")
				img.Social-Images(src="images/Social/tv.png" alt="Кнопка социальной сети")
			a.Social-Link.Univarsalnie-SocialLink(href="#")
				img.Social-Images(src="images/Social/tv.png" alt="Кнопка социальной сети")
			a.Social-Link.Univarsalnie-SocialLink(href="#")
				img.Social-Images(src="images/Social/you.png" alt="Кнопка социальной сети")
			a.Social-Link.Univarsalnie-SocialLink(href="#")
				img.Social-Images(src="images/Social/fac.png" alt="Кнопка социальной сети")
			a.Social-Link.Univarsalnie-SocialLink(href="#")
				img.Social-Images(src="images/Social/pt.png" alt="Кнопка социальной сети")
			a.Social-Link.Univarsalnie-SocialLink(href="#")
				img.Social-Images(src="images/Social/goo.png" alt="Кнопка социальной сети")
			a.Social-Link.Univarsalnie-SocialLink(href="#")
				img.Social-Images(src="images/Social/in.png" alt="Кнопка социальной сети")
			a.Social-Link.Univarsalnie-SocialLink(href="#")
				img.Social-Images(src="images/Social/pin.png" alt="Кнопка социальной сети")
		.Univarsalnie#UniFullPage
			
			.Section.Univarsalnie-One
				h2.Univarsalnie-Header Универсальные
				h3.Univarsalnie-SubHead Современная поддержка здоровья для всех и для каждого
				p.Univarsalnie-Text
					| Вкусные кислородные коктейли во время занятий спортом или релаксирующие сеансы кислородных ингаляций при стрессах и переутомлении – только несколько примеров использования концентраторов в современном городе.
				p.Univarsalnie-Text
					|Концентраторы кислорода с производительностью 3 л/мин. могут применяться как при обычной профилактике, так и на ранних стадиях различных заболеваний. Модели часто встречаются в фитнес-клубах, салонах красоты и в кислородных барах, но могут использоваться и дома.
			
			.Section.Univarsalnie-Two Принцип работы
			
			.Section.Univarsalnie-Three
				.Univarsalnie-ProductWrap.PromoProduct
					h2.Univarsalnie-ProductHead.PromoProduct-Header Кислородный концентратор&nbsp;
						span.Univarsalnie-ProductModel.PromoProduct-Model 8F-1
					p.Univarsalnie-ProductText.PromoProduct-Text
						| Когда пыль и смог заставляют задыхаться в будничной городской суете, а на прогулки на свежем воздухе не хватает времени – на помощь придет функциональный и стильный концентратор кислорода.
					p.Univarsalnie-ProductText.PromoProduct-Text
						|Компактные модели для дома производят до 1 л кислородно-воздушной смеси в минуту. За счет стильного дизайна устройство идеально впишется в интерьер и станет незаменимым источником кислорода в Вашем доме

			.Section.Univarsalnie-Thour 
				.Univarsalnie-ProductWrap.PromoProduct.PromoProduct_7f3l
					h2.Univarsalnie-ProductHead.PromoProduct-Header Кислородный концентратор&nbsp;
						span.Univarsalnie-ProductModel.PromoProduct-Model 7F-3L
					p.Univarsalnie-ProductText.PromoProduct-Text
						| Когда пыль и смог заставляют задыхаться в будничной городской суете, а на прогулки на свежем воздухе не хватает времени – на помощь придет функциональный и стильный концентратор кислорода.
					p.Univarsalnie-ProductText.PromoProduct-Text
						|Компактные модели для дома производят до 1 л кислородно-воздушной смеси в минуту. За счет стильного дизайна устройство идеально впишется в интерьер и станет незаменимым источником кислорода в Вашем доме
			
			.Section.Univarsalnie-Five 
				.Univarsalnie-ProductWrap.PromoProduct.PromoProduct_7f5l
					h2.Univarsalnie-ProductHead.PromoProduct-Header Кислородный концентратор&nbsp;
						span.Univarsalnie-ProductModel.PromoProduct-Model 7F-5L
					p.Univarsalnie-ProductText.PromoProduct-Text
						| Когда пыль и смог заставляют задыхаться в будничной городской суете, а на прогулки на свежем воздухе не хватает времени – на помощь придет функциональный и стильный концентратор кислорода.
					p.Univarsalnie-ProductText.PromoProduct-Text
						|Компактные модели для дома производят до 1 л кислородно-воздушной смеси в минуту. За счет стильного дизайна устройство идеально впишется в интерьер и станет незаменимым источником кислорода в Вашем доме
			.Section.Univarsalnie-Six 7f-5l
			
			.Section.Univarsalnie-Seven Где купить
			
		link(rel="stylesheet" type="text/css" href="main.css")
		script(src='main.js')
