head
	meta(charset="UTF-8")
	title Рециркуляторы универсальные
	link(rel="stylesheet" type="text/css" href="Preload.css")
	body
		.Preload
			h1 Загрузка
			
		nav.MainMenu
			a.MainMenu-Link.MainMenu-Link_NotActive.Univarsalnie-MainLink.Univarsalnie-MainLink_NotActive(href="Profilactica.html" data-id="Prof") Для профилактики
			a.MainMenu-Link.MainMenu-Link_Active.Univarsalnie-MainLink.Univarsalnie-MainLink_Active(href="Universal.html" data-id="Uni") Универсальные
			a.MainMenu-Link.MainMenu-Link_NotActive.Univarsalnie-MainLink.Univarsalnie-MainLink_NotActive(href="Lechenie.html" data-id="Lech") Для лечения
			
		.IndexPages-Social
			a.Social-Link.Univarsalnie-SocialLink(href="#")
				img.Social-Images(src="images/Social/vk.png" alt="Кнопка социальной сети")
			a.Social-Link.Univarsalnie-SocialLink(href="#")
				img.Social-Images(src="images/Social/tv.png" alt="Кнопка социальной сети")
			a.Social-Link.Univarsalnie-SocialLink(href="#")
				img.Social-Images(src="images/Social/tv.png" alt="Кнопка социальной сети")
			a.Social-Link.Univarsalnie-SocialLink(href="#")
				img.Social-Images(src="images/Social/you.png" alt="Кнопка социальной сети")
			a.Social-Link.Univarsalnie-SocialLink(href="#")
				img.Social-Images(src="images/Social/fac.png" alt="Кнопка социальной сети")
			a.Social-Link.Univarsalnie-SocialLink(href="#")
				img.Social-Images(src="images/Social/pt.png" alt="Кнопка социальной сети")
			a.Social-Link.Univarsalnie-SocialLink(href="#")
				img.Social-Images(src="images/Social/goo.png" alt="Кнопка социальной сети")
			a.Social-Link.Univarsalnie-SocialLink(href="#")
				img.Social-Images(src="images/Social/in.png" alt="Кнопка социальной сети")
			a.Social-Link.Univarsalnie-SocialLink(href="#")
				img.Social-Images(src="images/Social/pin.png" alt="Кнопка социальной сети")
		
		.Univarsalnie#UniFullPage
			.Section.Univarsalnie_One.fp-noscroll
				//- img.Univarsalnie-Text(src="images/Uni/UniText.svg")
				//- img.Univarsalnie-All(src="images/Uni/UniAll.png")
				.Univarsalnie-Header.Univarsalnie_One-Header
					h3.Univarsalnie-HeaderText Современная поддержка здоровья для всех и для каждого
				.Univarsalnie-Description.Univarsalnie_One-Descripton
					p.Univarsalnie-Desc 
						|Вкусные кислородные коктейли во время занятий спортом или релаксирующие сеансы кислородных ингаляций при стрессах и переутомлении – только несколько примеров использования концентраторов в современном городе.
					p.Univarsalnie-Desc 
						|Концентраторы кислорода с производительностью 3 л/мин. могут применяться как при обычной профилактике, так и на ранних стадиях различных заболеваний. Модели часто встречаются в фитнес-клубах, салонах красоты и в кислородных барах, но могут использоваться и дома.
			.Section.Univarsalnie_Two.fp-noscroll
				.FullSlide
					.FullSlide-Header
						h3.FullSlide-HeaderText Как работает кислородный концентратор? 
							br
							span.FullSlide-HeaderTextBold Безопасно!
					p.FullSlide-HeadTwo В конструкции устройства нет никаких баллонов с давлением, что минимизирует риск возгорания. Вместо них в концентраторах используется цеолит.
					img.FullSlide-Image(src="images/Princip/PrincipOne.svg")
					p.FullSlide-Text Поступающий в устройство воздух проходит через специальные фильтры и с помощью работы компрессора попадает прямиком в две цеолитовые колонки поочередно.
				.FullSlide
					.FullSlide-Header
						h3.FullSlide-HeaderText Как работает кислородный концентратор? 
							br
							span.FullSlide-HeaderTextBold Безопасно!
					p.FullSlide-HeadTwo В конструкции устройства нет никаких баллонов с давлением, что минимизирует риск возгорания. Вместо них в концентраторах используется цеолит.
					img.FullSlide-Image(src="images/Princip/PrincipTwo.svg")
					p.FullSlide-Text При поступлении воздуха в цеолитовую колонку №1, азот и другие газы абсорбируются, а кислород через увлажнитель отправляется наружу. 
					p.FullSlide-Text Небольшая часть кислорода совместно с абсорбированными газами отправляется в цеолитовую колонку №2, а уже оттуда – выходит через специальный клапан. 
				.FullSlide
					.FullSlide-Header
						h3.FullSlide-HeaderText Как работает кислородный концентратор? 
							br
							span.FullSlide-HeaderTextBold Безопасно!
					p.FullSlide-HeadTwo В конструкции устройства нет никаких баллонов с давлением, что минимизирует риск возгорания. Вместо них в концентраторах используется цеолит.
					img.FullSlide-Image(src="images/Princip/PrincipThree.svg")
					p.FullSlide-Text Далее процесс зеркально дублируется: 
					p.FullSlide-Text В цеолитовую колонку №2 поступает воздух, откуда очищенная кислородно-воздушная смесь попадает через увлажнитель к пользователю, а часть кислорода и другие газы оказываются в колонке №1 и также выходят через соответствующий клапан.
			.Section.Univarsalnie_Three.fp-noscroll
				.Univarsalnie-ProductWrap.PromoProduct
					h2.Univarsalnie_Three-ProductHead.PromoProduct-Header Кислородный концентратор&nbsp;
						span.Univarsalnie_Three-ProductModel.PromoProduct-Model 7F-3L
					p.Univarsalnie_Three-ProductText.PromoProduct-Text
						| Модель Армед 7F-3L является одним из самых популярных 3-литровых кислородных концентраторов. Такой объем производительности кислородно-воздушной смеси отлично подходит как для домашнего использования, так и для кислородотерапии в больших объемах.
					p.Univarsalnie_Three-ProductText.PromoProduct-Text
						|7F-3L часто встречается в салонах красоты, спортивных и фитнес клубах, в школах и детских садах. Помимо стандартных сеансов кислородотерапии, данный концентратор оснащен выходом для проведения аэрозольных ингаляций. чем может похвастать далеко не каждая модель. Дизайн устройства выполнен в классическом узнаваемом стиле.
					a.ButtonWhere(href='#') Где купить?
			.Section.Univarsalnie_Four.fp-noscroll
				.Univarsalnie_Four-Content
					h2.Univarsalnie_Four-ProductHead.PromoProduct-Header Кислородный концентратор&nbsp;
						span.Univarsalnie_Four-ProductModel.PromoProduct-Model 7F-3А
					p.Univarsalnie_Four-ProductText.PromoProduct-Text
						| В отличие от других моделей кислородных концентраторов с производительностью до 3 л/мин., Армед 7F-3А выделяется благодаря необычному дизайну и наличию информативного и яркого ЖК-дисплея.
					p.Univarsalnie_Four-ProductText.PromoProduct-Text
						|Помимо необычного визуального исполнения, данный концентратор предлагает богатый набор функций. В том числе, он оснащен выходом для проведения ингаляций. Удачное сочетание дизайна и технических возможностей делает модель невероятно востребованной. Ее часто приобретают как представители салонов красоты, спортивно-оздоровительных центров и других общественных организаций, так и частные покупатели для домашнего использования.
					a.ButtonWhere(href='#') Где купить?
			.Section.Univarsalnie_Five.fp-noscroll 
				.Univarsalnie_Five-Content
					h2.Univarsalnie_Five-ProductHead.PromoProduct-Header Пульсоксиметры&nbsp;
						span.Univarsalnie_Five-ProductModel.PromoProduct-Model Армед
					p.Univarsalnie_Five-ProductText.PromoProduct-Text
						| Компактные пульсоксиметры помогают своевременно и оперативно определить важнейшие показатели здоровья: уровень насыщенности крови кислородом и частоту пульса. Именно с помощью пульсоксиметра можно узнать, когда организм нуждается в дополнительном источнике кислорода.
					p.Univarsalnie_Five-ProductText.PromoProduct-Text
						|Мы предлагаем широкий ассортимент компактных и стильных пульсоксиметров с богатым функционалом. Устройство легко помещается в кармане и управляется всего одной кнопкой!
					a.ButtonWhere(href='#') Где купить?
			.Section.Univarsalnie_Six.fp-noscroll
				.Univarsalnie_Six-Content
					h2.Univarsalnie_Six-ProductHead.PromoProduct-Header Коктейлеры&nbsp;
						span.Univarsalnie_Six-ProductModel.PromoProduct-Model Армед
					p.Univarsalnie_Six-ProductText.PromoProduct-Text
						| Для приготовления вкусных и полезных кислородных коктейлей недостаточно одного концентратора. В нашем ассортименте представлен перечень функциональных и стильных коктейлеров различного типа.
					p.Univarsalnie_Six-ProductText.PromoProduct-Text
						|Компактные и доступные коктейлеры для всей семьи, модели с ярким дизайном для детей и взрослых, а также вместительные коктейлеры для массового производства кислородных коктейлей.
					a.ButtonWhere(href='#') Где купить?
			.Section.Univarsalnie_Seven.fp-noscroll
				.Univarsalnie_Seven-Content
					h2.Univarsalnie_Seven-ProductHead.PromoProduct-Header Смеси для приготовления коктейлей&nbsp;
						span.Univarsalnie_Seven-ProductModel.PromoProduct-Model 
					p.Univarsalnie_Seven-ProductText.PromoProduct-Text
						| Главной частью вкусного и полезного кислородного коктейля является воздушно-легкая пена, которая невозможна без использования специальной смеси.
					p.Univarsalnie_Seven-ProductText.PromoProduct-Text
						|Наши смеси для приготовления коктейлей изготовлены из натуральных ингредиентов и не содержат вредных для организма добавок. На выбор представлены как стандартные смеси (на основе яичного белка), так и специальные гипоаллергенные варианты.
					a.ButtonWhere(href='#') Где купить?
			.Section.Univarsalnie_Eight#MapSection
				.Univarsalnie_Eight-Content
					h2.Univarsalnie_Eight-ProductHead.PromoProduct-Header Где можно купить концентратор кислорода&nbsp;
						span.Univarsalnie_Eight-ProductModel.PromoProduct-Model “Армед”
					.Contacts
						script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript" charset="utf-8")
						.Contacts-Map#ContactsMap
						.Contacts-MenuWrapp
					a#BackToTheBeginning(href='#ProfFullPage' data-text="В начало")
					footer.footer
						.footer__wrapp
							.footer__contacts
								a.footer__logo-link(href="error.html")
									img.footer__logo-image(src="images/Global/logo.png" alt="логотип космпании Армед")
								.footer__contacts-item
									i.footer__contacts-image-map.footer__contacts-image
									p.footer__contacts-text
										|Адрес: Московская обл., г. Балашиха, Западная Коммунальная
										|Зона, ш. Энтузиастов, влад. 1А
								.footer__contacts-item
									i.footer__contacts-image-phone.footer__contacts-image
									.footer__contacts-text-wrap
										p.footer__contacts-text
											span.footer__contacts-city Москва:&nbsp
											a.footer__contacts-link(href="tel:+74959891288") +7 (495) 989-12-88
										p.footer__contacts-text
											span.footer__contacts-city Санкт-Петербург:&nbsp
											a.footer__contacts-link(href="tel:+78127027302") +7 (812) 702-73-02
										p.footer__contacts-text
											span.footer__contacts-city Екатеринбург:&nbsp
											a.footer__contacts-link(href="tel:+73432864273") +7 (343) 286-42-73
								.footer__contacts-item
									i.footer__contacts-image-email.footer__contacts-image
									p.footer__contacts-text
										a.footer__contacts-link(href="mailto:armed@armed.ru") armed@armed.ru

							menu.footer__menu
								h2.footer__head Меню
								li.footer__menu-item
									a.footer__menu-link(href="index.html") Главная
								li.footer__menu-item
									a.footer__menu-link(href="error.html") Магазины
								li.footer__menu-item
									a.footer__menu-link(href="error.html") Информация
								li.footer__menu-item
									a.footer__menu-link(href="error.html") Оптовикам
								li.footer__menu-item
									a.footer__menu-link(href="catalog_ur.html") Каталог
								li.footer__menu-item
									a.footer__menu-link(href="error.html") Карта сайта

							menu.footer__info
								h2.footer__head Общая информация
								li.footer__info-item
									a.footer__info-link(href="error.html") История Armed
								li.footer__info-item
									a.footer__info-link(href="error.html") Свяжитесь с нами
								li.footer__info-item
									a.footer__info-link(href="error.html") Политика конфидециальности
								li.footer__info-item
									a.footer__info-link(href="error.html") Политика cookie
								li.footer__info-item
									a.footer__info-link(href="error.html") Условия и положения
								li.footer__info-item
									a.footer__info-link(href="error.html") Катра сайта
							
			
		link(rel="stylesheet" type="text/css" href="index.css")
		link(rel="stylesheet" type="text/css" href="Uni.css")
		script(src='main.js')
